# Runs linting related jobs.

name: lint

permissions:
  contents: read

on:
  push:
    branches: [main, next]
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  cargo-deny:
    name: cargo-deny on ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-deny
      - name: Check dependencies with cargo-deny
        run: cargo deny check

  clippy:
    name: clippy nightly on ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cleanup large tools for build space
        uses: ./.github/actions/cleanup-runner
      - name: Clippy
        run: |
          rustup update --no-self-update nightly
          rustup +nightly component add clippy
          make clippy

  rustfmt:
    name: rustfmt check nightly on ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cleanup large tools for build space
        uses: ./.github/actions/cleanup-runner
      - name: Rustfmt
        run: |
          rustup update --no-self-update nightly
          rustup +nightly component add rustfmt
          make format-check

  doc:
    name: doc stable on ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cleanup large tools for build space
        uses: ./.github/actions/cleanup-runner
      - name: Build docs
        run: |
          rustup +stable update --no-self-update
          rustup default stable
          make doc
